.body {
    margin: auto;
    background-color: rgb(11, 133, 240);
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .nav a {
      float: none;
      width: 100%;
    }
  }
.container {
    max-width: 100%;
    margin: 0px auto;
    padding: 0;
    right: 0;
    left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
}

p {
    font-size: medium;
}

#important{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

#ContactUs {
    background-color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: rgb(22, 21, 21);
    padding-top: 100px;
    font-size: 30px;
    font-weight: bolder;
}
img { max-width: 100%; height: auto; }
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}