* {
    margin: 0;
    padding: 0;
}

.load {
    animation: slide 2s;
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 30s infinite;
}

.content {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 5px);
}

.principal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
}

.principal h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.principal p {
    font-size: 20px;
}

@keyframes slide {
    0% {
        background-image: url("../images/tire.jpg");
    }
    20% {
        background-image: url("../images/click.jpg");
    }
    40% {
        background-image: url("../images/smile.jpg");
    }
    60% {
        background-image: url("../images/dull.jpeg");
    }
    80% {
        background-image: url("../images/pexels.jpeg");
    }
    100% {
        background-image: url("../images/childf.jpeg");
    }
}

.body {
    margin: auto;
    background-color: rgb(11, 133, 240);
}

.container {
    max-width: 100%;
    margin: 0px auto;
    padding: 0;
    right: 0;
    left: 0;
}

.heading {
    background-image: url("/images/africa.jpg");
    background-size: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.future {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

#aboutus {
    text-align: center;
}

.mouse {
    animation: bounce 3s infinite;
    margin-left: 50%;
    padding-top: 20%;
}

@keyframes bounce {
    0%, 10%, 30%, 50%, 70%, 100% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-50px);
    }
    60% {
        transform: translateY(-50px);
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
}

p {
    font-size: medium;
}

#important {
    text-align: center;
    font-weight: bolder;
}

.Contactus {

    background-image: url("../images/children.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: white;
    padding-top: 100px;
    font-size: 30px;
    font-weight: bolder;
    /* margin-right: 72px; */
    /* margin-left: 40%; */
    display: flex;
    flex: auto;
}
.form{
    margin: 10px;
    margin-left: 30%;
}
#info{
    margin: 10px;
}
#name, #email, #textarea{
    background-color: transparent;
}
#name{
    /* float: left; */
    width: 100%;
    margin: 10px;
}
#email{
    /* float: left; */
    width: 100%;
    margin: 10px;
}
#textarea{
    width: 100%;
    margin: 10px;
}
#name::placeholder, #email::placeholder, #textarea::placeholder{
    color: white;
}
.cont {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

/* Media Queries: Tablet Landscape */

@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
    }
    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}

/* Media Queries: Tabled Portrait */

@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }
    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}

#footer {
    text-align: center;
    font-family: fantasy;
    background-color: darkgray;
}